<%- include('header'); -%>


    <div class="box" id="heading">
        <h1> <%= titleOfList %> </h1>
    </div>
    
    <div class="box">
                <% for(let i=0; i < listNewItem.length; i++) { %>
                    <div class="item">
                        <input type="checkbox" name="" id="">
                        <p><%= listNewItem[i] %></p>
                    </div>
                    <%}%>
            
        <form class="item" action="/" method="post">
            <input type="text" name="listItem" placeholder="New Item" autocomplete="off" required>
            <button type="submit" name="list" value= <%= titleOfList %> > + </button>
        </form>
    </div>

<%- include('footer'); -%>

    

    
    
    

<!-- (kindOfDay === "Sabtu" || kindOfDay === "Minggu") { %>
        <h1 style="color: blue">This is  kindOfDay %> </h1>
        } else{ %>
            <h1 style="color: palegreen">This is  kindOfDay %> </h1>
         } %> -->